/* Navbar */

.navbar{
    width: 1140px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 140px;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.nav-menu a:hover{
    color: #4F46E5;
}

.register-btn{
    background-color: #4F46E5;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
}

