/* Common Style */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
}

img{
    max-width: 100%;
}

button{
    cursor: pointer;
}




/* Navbar */

.navbar{
    width: 1140px;
    margin: 0 auto;
    padding: 20px 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 140px;
}

.nav-menu{
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-menu a{
    text-decoration: none;
    color: #555;
    font-size: 16px;
}

.nav-menu a:hover{
    color: #4F46E5;
}

.register-btn{
    background-color: #4F46E5;
    color: white;
    padding: 12px 24px;
    border: none;
    border-radius: 8px;
}



/* Hero Section */

.hero{
    height: 700px;

    background-image:
    linear-gradient(rgba(0,0,0,.60), rgba(0,0,0,.60)),
    url("./images/banner.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    width: 1000px;
    text-align: center;
    color: white;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: -50px;
}

.hero-content h1{
    font-size: 64px;
    margin-bottom: 25px;
}

.hero-content p{
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 40px;
}

.hero-btn{
    background-color: #4F46E5;
    color: white;

    padding: 15px 35px;

    border: none;
    border-radius: 8px;

    font-size: 17px;
}






/* Speakers Section */

.speakers{
    width: 1140px;
    margin: 100px auto;
}

.speakers h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 50px;
}

.speaker-container{

    display: grid;

    grid-template-columns: repeat(2, 1fr);

    gap: 30px;

}

.speaker-card{

    border: 1px solid #e5e7eb;

    border-radius: 10px;

    overflow: hidden;

    background-color: white;

}

.speaker-card img{

    width: 100%;

    display: block;

}

.speaker-info{

    padding: 18px;

}

.speaker-info h5{

    color: #2563eb;

    font-size: 10px;

    margin-bottom: 10px;

}

.speaker-info h3{

    font-size: 24px;

    margin-bottom: 8px;

}

.speaker-info p{

    font-size: 14px;

    color: #666;
}






/* Pricing Section */

.pricing{
    width: 1140px;
    margin: 100px auto;
}

.pricing h2{
    text-align: center;
    font-size: 52px;
    margin-bottom: 10px;
}

.pricing-text{
    text-align: center;
    color: gray;
    margin-bottom: 50px;
}

.pricing-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.pricing-card{
    width: 360px;
    padding: 25px;
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.pricing-card h5{
    color: gray;
    margin-bottom: 10px;
}

.pricing-card h1{
    font-size: 55px;
    margin-bottom: 5px;
}

.pricing-card p{
    color: gray;
    margin-bottom: 20px;
}

.pricing-card hr{
    margin-bottom: 20px;
    border: 1px solid #eeeeee;
}

.pricing-card ul{
    padding-left: 20px;
    margin-bottom: 30px;
}

.pricing-card li{
    margin-bottom: 12px;
}

.outline-btn{
    width: 100%;
    padding: 14px;
    background: white;
    border: 1px solid #2563eb;
    border-radius: 8px;
    color: #2563eb;
}

.fill-btn{
    width: 100%;
    padding: 14px;
    background: #2563eb;
    color: white;
    border: none;
    border-radius: 8px;
}

/* Pro Card */

.active{
    background: #0f172a;
    color: white;
}

.active p{
    color: #cbd5e1;
}

.active h5{
    color: #60a5fa;
}

.active hr{
    border-color: #334155;
}

